html {
    font-family: Helvetica, sans-serif;
   
    color: black;
}

.heading {
    font-size: 3em;
    text-shadow: 0 0 2em black;
    margin-top: 1em;
    margin-bottom: 0.125em;
}

.number-item {
    background-color: green;
}